- var tclass = (theme.type == 1 ? 'nomatter_b': (theme.type == 3 ? 'breaking_b': ''))
if theme.url
 .b_title(class = tclass)
  p.title_h
   a(href='#{theme.response.url}', title='#{theme.url}') !{theme.url}
else
 .b_title(class = tclass)
  p.title_h
   a(href='#{theme.response.url}') !{theme.title}